{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wedding Matrimony</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="theme-color" content="#f6af04" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <!--== FAV ICON(BROWSER TAB ICON) ==-->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon" />
    <!--== CSS FILES ==-->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />

    <!--== CSS FILE ONLY FOR RESPONSIVE ==-->
    <link rel="stylesheet" href="{% static '/css/style-mob.css' %}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
   
      <div class="login pg-soon">
        <div class="container">
          <div class="row">
            
            
                <form class="bg-white px-4" method="GET" action="">
                  <p class="fw-bold">Do you generally prefer to socialize in large groups rather than one-on-one or small gatherings?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                      No
                    </label>
                  </div>

                  <p class="fw-bold">Do you feel more energized after spending time alone than after socializing with others?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                      No
                    </label>
                  </div>

                  {% for i in  questin_dict %}
                   <p>{{i}}</p>
                  {% endfor %}
                  <p class="fw-bold">Do you tend to focus on concrete details and practical facts?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>


                  
                  <p class="fw-bold">Are you often drawn to abstract concepts and idea</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you make decisions primarily based on logic and reason?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are your decisions often influenced by your emotions and values?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you prefer having a structured and planned daily routine?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you feel comfortable with a more flexible and spontaneous approach to life?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are you usually the one to initiate conversations or social activities?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you prefer others to initiate social interactions with you?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are you detail-oriented and find pleasure in organizing your surroundings?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold"> Do you often overlook details and focus on the bigger picture?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you find it easier to criticize and provide constructive feedback than to comfort and empathize with others?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold"> Are you more inclined to empathize and provide emotional support to others?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you feel anxious when you have unfinished tasks and prefer to complete them before relaxing?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are you comfortable leaving tasks unfinished and adapting to changes in plans?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you enjoy being the center of attention at social events?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you feel uncomfortable with too much attention and prefer blending into the background?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you rely on past experiences and practical knowledge to make decisions?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are you open to new possibilities and often trust your instincts?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are you more likely to give advice based on objective analysis?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you give advice based on your personal values and what feels right?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you prefer to make plans well in advance and stick to them?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you often adapt to situations and enjoy spontaneity?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you find it easy to strike up conversations with strangers?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you prefer getting to know people over time rather than immediately engaging with them?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Are you often practical and realistic in your approach to problem-solving?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <p class="fw-bold">Do you frequently rely on your imagination and creativity to find solutions?</p>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample1"
                    />
                    <label class="form-check-label" for="radioExample1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample2"
                    />
                    <label class="form-check-label" for="radioExample2">
                     NO
                    </label>
                  </div>
                  <!-- <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleForm"
                      id="radioExample3"
                    />
                    <label class="form-check-label" for="radioExample3">
                      Option 3
                    </label>
                  </div> -->
                </form>
            </div>
            
            <div class="text-end">
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </div>
     
    

    <!-- REGISTER -->
    <!-- <section>
        <div class="login pg-soon">
            <div class="container">
                <div class="row">
                    <div class="inn">
                        <div class="tit">
                            <h4>We are building our website.</h4>
                            <h1>Comming soon</h1>
                        </div>
                        <div class="menu-pop-soci">
                            <ul>
                                <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#!"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="counter">
                            <div class="timer">
                                <div><span class="days">10</span><i>Days</i></div>
                                <div><span class="hours">53</span><i>Hours</i></div>
                                <div><span class="minutes">09</span><i>Minutes</i></div>
                                <div><span class="seconds">32</span><i>Seconds</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- END -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/select-opt.js' %}"></script>
    <script src="{% static '/js/slick.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
  </body>
</html>
